<div class="ui secondary pointing menu">
  <a class="item">
    <%= link_to 'Home', departments_path %>
  </a>
  <a class="item">
    <%= link_to 'Add Department', new_department_path %>
  </a>
</div>
